{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<script src="{% static 'js/jqueryscript.js' %}"></script>
{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url({{ Founder.detailImage.url }})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">{{ Founder.name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>
<section class="probootstrap-section probootstrap-bg-white" style="padding-top:40px">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="post-details" style="margin-top:20px">
                    <div class="post-body">
                        <p>{{ Founder.detailText | safe }}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row">
            {% for whyChooseUs in whyChooseUs.all %}
            <div class="col-md-6 whychooseus">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="{{ whyChooseUs.iconImage.url }}" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>{{ whyChooseUs.subHeader }}</h3>
                        <p>{{ whyChooseUs.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- END row -->
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}