{% extends 'base.html' %}

{% load staticfiles %}
{% block links %}

<link rel="stylesheet" href="{% static 'bxslider-4-4.2.12/src/css/jquery.bxslider.css' %}">
<script src="{% static 'js/jqueryscript.js' %}"></script>
{% endblock %}

{% block content%}
<section class="flexslider">
    <ul class="slides">
        {% for Slider in Slider.all %}
        <li style="background-image: url({{ Slider.image.url }})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading probootstrap-animate">{{ Slider.text }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            {% for Welcome in Welcome.all %}
            <div class="col-md-6 probootstrap-animate">
                <h2 class="mb15">{{ Welcome.title }}</h2>
                <p class="lead mt0">{{ Welcome.subTitle }}</p>
                <img class="img-fluid welcomeImage" src="{{ Welcome.image.url }}">
            </div>
            <div class="col-md-6 probootstrap-animate mt30">
                {{ Welcome.text | safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>What We Offer</h2>
            </div>
        </div>
        <!-- END row -->
        <div class="row" style="
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;">
            {% for bestService in bestService.all %}
            {% for Service in Service.all %}
            {% if Service.exactCategory == bestService.Category %}

            <div class="col-md-6" style='
            display: flex;
            flex-direction: column;'>
                <a href="{% url 'Product' Service.id %}" class="productLink">
                    <div class="zoom">
                        <div class="probootstrap-service-2 probootstrap-animate">
                            <div class="image">
                                <div class="image-bg">
                                    <img src="{{ Service.image.url }}" alt="">
                                </div>
                            </div>
                            <div class="text">
                                <h3>{{ Service.category }}</h3>
                                <p>{{ Service.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="zoom">
                    <a href="{% url 'Services' %}" class="btn btn-primary btn-lg probootstrap-animate" style="font-size:20px">
                        More Services </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 section-heading text-center probootstrap-animate">
                <h2>Our Founders</h2>
            </div>
        </div>
        <div class="row probootstrap-animate">
            {% for Founder in Founder.all %}
            <div class="col-md-6">
                <div class="card" style="margin-top:30px">
                    <img src="{{ Founder.image.url }}" alt="Jane" style="width:100%">
                    <div class="containerTeam">
                        <h2>{{ Founder.name }}</h2>
                        <p class="title">{{ Founder.position }}</p>
                        <p>{{ Founder.description }}</p>
                        <p>{{ Founder.email }}</p>
                        <p><a href="{% url 'Bio' Founder.id %}" class="team">Read More</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

</section>

<section class="probootstrap-section proboostrap-clients probootstrap-bg-white probootstrap-zindex-above-showcase">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Our Clients</h2>
            </div>
        </div>
        <!-- END row -->
        <div class="row probootstrap-animate">
            <div class="slider">
                {% for Client in Client.all %}
                <div><img src="{{ Client.image.url }}" alt="" style=" height:auto; max-height: 80px"></div>
                {% endfor %}
            </div>
        </div>
</section>


<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row">
            {% for whyChooseUs in whyChooseUs.all %}
            <div class="col-md-6 whychooseus">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="{{ whyChooseUs.iconImage.url }}" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>{{ whyChooseUs.subHeader }}</h3>
                        <p>{{ whyChooseUs.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- END row -->
    </div>
</section>

<section class="probootstrap-section probootstrap-border-top probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Testimonial</h2>
            </div>
        </div>
        <!-- END row -->
        <div class="row">
            <div class="col-md-12 probootstrap-animate">
                <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
                    {% for Testimonial in Testimonial.all %}
                    <div class="item">
                        <div class="probootstrap-testimony-wrap text-center">
                            <figure>
                                <img src="{{ Testimonial.image.url }}" alt="">
                            </figure>
                            <blockquote class="quote">&ldquo;{{ Testimonial.testimonial }}&rdquo;
                                <cite class="author">&mdash;
                                    {{ Testimonial.name }}<br>
                                    <span>{{ Testimonial.position }}</span>
                                </cite>
                            </blockquote>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END row -->
    </div>
</section>
<section class="probootstrap-section proboostrap-clients probootstrap-zindex-above-showcase">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Our International Partners</h2>
                
            </div>
        </div>
        <!-- END row -->
        <div class="row">
            {% for internationalPartner in internationalPartner.all %}
            <div class="col-sm-4  text-center client-logo probootstrap-animate">
                <img src="{{ internationalPartner.image.url }}" class="img-responsive" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'bxslider-4-4.2.12/src/js/jquery.bxslider.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.slider').bxSlider();
    });
</script>
{% endblock %}