{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="css/galleryslider.css">
<script src="js/jssor.slider-27.5.0.min.js"></script>
<script src="js/jqueryscript.js"></script>
<script src="js/galleryslider.js"></script>
{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">The Gallery</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-feed three-cols">
                    <div class="grid-sizer"></div>
                    <div class="gutter-sizer"></div>
                    <div class="probootstrap-gallery">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                                <img src="img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                                <img src="img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                                <img src="img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                                <img src="img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                                <img src="img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                                <img src="img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                                <img src="img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                                <img src="img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                                <img src="img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                                <img src="img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                                <img src="img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                                <img src="img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_1.jpg" itemprop="contentUrl" data-size="1000x666">
                                <img src="img/gal_img_sm_1.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_2.jpg" itemprop="contentUrl" data-size="1000x667">
                                <img src="img/gal_img_sm_2.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_3.jpg" itemprop="contentUrl" data-size="1000x1500">
                                <img src="img/gal_img_sm_3.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                            <a href="img/gal_img_full_4.jpg" itemprop="contentUrl" data-size="1000x662">
                                <img src="img/gal_img_sm_4.jpg" itemprop="thumbnail" alt="Free Bootstrap Template by uicookies.com" />
                            </a>
                            <figcaption itemprop="caption description">Image caption here</figcaption>
                        </figure>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading ">
                <h2>Certificates</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                    natus
                    quos quibusdam soluta at.</p>
            </div>
        </div>
        <div class="row">
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:960px;height:480px;overflow:hidden;visibility:hidden;background-color:#24262e;">
                <!-- Loading Screen -->
                <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                    <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
                </div>
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:240px;width:720px;height:480px;overflow:hidden;">
                    <div>
                        <img data-u="image" src="img/gal_img_sm_1.jpg" />
                        <img data-u="thumb" src="img/gal_img_sm_1.jpg" />
                    </div>
                    <div>
                        <img data-u="image" src="img/gal_img_sm_2.jpg" />
                        <img data-u="thumb" src="img/gal_img_sm_2.jpg" />
                    </div>
                    <div>
                        <img data-u="image" src="img/gal_img_sm_3.jpg" />
                        <img data-u="thumb" src="img/gal_img_sm_3.jpg" />
                    </div>
                    <div>
                        <img data-u="image" src="img/gal_img_sm_1.jpg" />
                        <img data-u="thumb" src="img/gal_img_sm_1.jpg" />
                    </div>
                    <div>
                        <img data-u="image" src="img/gal_img_sm_1.jpg" />
                        <img data-u="thumb" src="img/gal_img_sm_1.jpg" />
                    </div>

                </div>
                <!-- Thumbnail Navigator -->
                <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;top:0px;width:240px;height:480px;background-color:#000;"
                    data-autocenter="2" data-scale-left="0.75">
                    <div data-u="slides">
                        <div data-u="prototype" class="p" style="width:99px;height:66px;">
                            <div data-u="thumbnailtemplate" class="t"></div>
                            <svg viewbox="0 0 16000 16000" class="cv">
                                <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                                <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                                <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- Arrow Navigator -->
                <div data-u="arrowleft" class="jssora093" style="width:50px;height:50px;top:0px;left:270px;"
                    data-autocenter="2">
                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                        <polyline class="a" points="7777.8,6080 5857.8,8000 7777.8,9920 "></polyline>
                        <line class="a" x1="10142.2" y1="8000" x2="5857.8" y2="8000"></line>
                    </svg>
                </div>
                <div data-u="arrowright" class="jssora093" style="width:50px;height:50px;top:0px;right:30px;"
                    data-autocenter="2">
                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="c" cx="8000" cy="8000" r="5920"></circle>
                        <polyline class="a" points="8222.2,6080 10142.2,8000 8222.2,9920 "></polyline>
                        <line class="a" x1="5857.8" y1="8000" x2="10142.2" y2="8000"></line>
                    </svg>
                </div>
            </div>
            <!-- END row -->
        </div>
</section>
{% endblock %}

{% block scripts %}

<!-- Photoswipe Modal -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jssor_1_slider_init();
</script>
{% endblock %}