<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <title>Business Growth</title>
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">
    <link href="{% static 'css/font/font.css' %} " rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block links %}

    {% endblock %}
    <!-- </head> -->
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbarlogo" href="{% url 'Home' %}"></a>
            </div>

            <div id="navbar-collapse" class="navbar-collapse collapse headnavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class = {{home_page}}><a href="{% url 'Home' %}">Home</a></li>
                    <li class = {{service_page}}><a href="{% url 'Services' %}">Services</a></li>
                    <li class = {{about_page}}><a href="{% url 'About' %}">About</a></li>    
                    <li class = {{blog_page}}><a href="{% url 'Blog' %}">Blog</a></li>
                    <li class="dropdown {{gallery_page}}">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gallery</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'Images' %}">Images</a></li>
                            <li><a href="{% url 'Videos' %}">Videos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {{clients_page}}">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Clients</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'Clients' %}">Client List</a></li>
                            <li><a href="{% url 'Testimonials' %}">Testimonials</a></li>
                        </ul>
                    </li>
                    <li class = {{contact_page}}><a href="{% url 'Contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {%block content%}
    {%endblock%}

    <footer class="probootstrap-footer ">
        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <p> GET CONNECTED </p>
                    {% for Link in Link.all %}
                    <ul class="probootstrap-footer-social">
                        <li><a href="{{ Link.link }}"><img src="{{ Link.linkImage.url }}" alt="" style = "width: 25px; height: auto"></a></li>
                    </ul>
                    {% endfor %}
                    <img src="{% static 'img/footerLogo.png' %}" style="width: 100%; height:auto">
                </div>
                
                <div class="col-md-4">
                    <p>OUR OFFICE</p>
                    {% for Address in Address.all %}
                    <p>{{ Address.address | safe }}</p>
                    {% endfor %}
                </div>
                
                <div class="col-md-4">
                    <p>DETAILS</p>
                    <p>
                        {% for Detail in Detail.all %}
                        <span style="color:red">{{ Detail.header }}</span> : {{ Detail.detail }}<br>
                        {% endfor %}
                    </p>
                </div>
                
            </div>
        </div>
    </footer>
    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{%static 'js/custom.min.js' %}"></script>
    {% block scripts %}

    {% endblock %}
    <!-- </body></html> -->
</body>

</html>