.headnavbar {
    margin-bottom: 15px;
}

.navbar-brand.navbarlogo {
    width: 320px;
    height: 55px
}

.productLink .probootstrap-service-2 .text {
    text-decoration: none;
    color: #8b8e94
}
h2{
    border-bottom: 3px solid red;
    padding: 12px
}

/* ZOOM effect */
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.welcomeImage {
    max-width: 100%;
    height: auto
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* end ZOOM effect */

/* TEAM HOME css */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.containerTeam {
    padding: 0 16px;
}


.containerTeam::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

a.team {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

a.team:hover {
    background-color: #555;
}

/* end TEAM css */

/* light box ABOUT css */



#lightbox .modal-content-lightbox {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}

/* end lightbox css */
.category-list{
    margin:0;
    padding:0
}
.category-list li{
    list-style:none;
    border-bottom:1px dotted #d1d1d1;
    margin-bottom:15px;
    padding-bottom:10px;
    width:70%
}
.category-list li:hover .title{
    color:#e60202
}


/* Client List css*/
.client-background{
    background:#F7F7F7;
    margin-top : 30px
}

/* End Client List Css */

/* Testimonial Css */
.testimonial{
    padding-bottom:15px;
    margin-bottom:40px;
    border-bottom: 1px solid #f3f3f3
}