{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="css/blog.css">
<script src="js/jqueryscript.js"></script>
{% endblock %}

{% block content %}
<section class="probootstrap-section probootstrap-bg-white ">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-lg-8">
                <img src="img/gal_img_sm_2.jpg" alt="" class="img-fluid thumbnailImage">
                <div class="post-details">
                    <div class="d-flex justify-content-between">
                        <div class="blogCategory">BUSINESS, FINANCIAL</div>
                    </div>
                    <h1 class="blogTitle" style="font-size:40px">Diversity in Engineering: The Effect on Questions</h1>
                    <footer class="d-flex blogFooter align-items-center justify-content-between">
                        <span class="d-flex align-items-center">
                            <div class="avatar"><img src="img/avatar-1.jpg" class="img-fluid"></div>
                            <div class="blogEditor">John Doe</div>
                        </span>
                        <span>
                            <div class="blogDate postBlogDate">20 May | 2016</div>
                        </span>
                    </footer>
                    <div class="post-body">
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut
                            aliquip ex ea commodo consequat.</p>
                        <p><img class="img-fluid" src="img/gal_img_sm_2.jpg"></p>
                        <h3 class="blogTitle">Lorem Ipsum Dolor</h3>
                        <p>div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus iusto
                            voluptates
                            deleniti similique rerum ducimus sint ex odio saepe. Sapiente quae pariatur ratione
                            quis perspiciatis
                            deleniti accusantium</p>
                        <p>quasi nam. Libero dicta eum recusandae, commodi, ad, autem at ea iusto numquam
                            veritatis, officiis.
                            Accusantium optio minus, voluptatem? Quia reprehenderit, veniam quibusdam provident,
                            fugit iusto
                            ullam voluptas neque soluta adipisci ad.</p>
                    </div>
                    <div class="post-tags probootstrap-animate">
                        <a href="#" class="tag">#Business</a>
                        <a href="#" class="tag">#Tricks</a>
                        <a href="#" class="tag">#Financial</a>
                        <a href="#" class="tag">#Economy</a>
                    </div>
                    <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row blogpost probootstrap-animate">
                        <a href="#" class="prev-post text-left d-flex align-items-center">
                            <div class="icon prev ">
                                <img src="img/left-arrow.png" alt="" style="width:12px;height:auto">
                            </div>
                            <div class="text">
                                <strong class="text-primary">Previous Post </strong>
                                <h6>I Bought a Wedding Dress.</h6>
                            </div>
                        </a>
                        <a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                            <div class="text"><strong class="text-primary">Next Post </strong>
                                <h6>I Bought a Wedding Dress.</h6>
                            </div>
                            <div class="icon next">
                                <img src="img/right-arrow.png" alt="" style="width:12px;height:auto">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget latest-posts">
                    <header>
                        <h3 class="blogTitle" style="font-size:16px">Latest Posts</h3>
                    </header>
                    <div class="blog-posts">
                        <a href="#">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/gal_img_full_3.jpg" alt="..." class="img-fluid"></div>
                                <div class="title"><strong>Alberto Savoia Can Teach You About</strong>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/gal_img_sm_2.jpg" alt="..." class="img-fluid"></div>
                                <div class="title"><strong>Alberto Savoia Can Teach You About</strong>

                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="img/gal_img_sm_2.jpg" alt="..." class="img-fluid"></div>
                                <div class="title"><strong>Alberto Savoia Can Teach You About</strong>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="widget tags">
                    <header>
                        <h3 class="blogTitle" style="font-size:16px">Tags</h3>
                    </header>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="tag">#Business</a></li>
                        <li class="list-inline-item"><a href="#" class="tag">#Technology</a></li>
                        <li class="list-inline-item"><a href="#" class="tag">#Fashion</a></li>
                        <li class="list-inline-item"><a href="#" class="tag">#Sports</a></li>
                        <li class="list-inline-item"><a href="#" class="tag">#Economy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="js/blog.js"></script>
{% endblock %}