{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<script src="{% static 'js/jqueryscript.js' %}"></script>
<style>

</style>
{% endblock %}

{% block content %}
<section class="flexslider">
        <ul class="slides">
            {% for Slider in Slider.all%}
            <li style="background-image: url({{Slider.image.url}})" class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="probootstrap-slider-text text-center">
                                <h1 class="probootstrap-heading">{{Slider.text}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    
<section class="probootstrap-section probootstrap-bg-white ">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-lg-8">
                <img src="{{ Blog.image.url }}" alt="" class="img-fluid thumbnailImage">
                <div class="post-details">
                    <div class="d-flex justify-content-between">
                        <div class="blogCategory">{{Blog.blogCategory}}</div>
                    </div>
                    <h1 class="blogTitle" style="font-size:40px">{{Blog.header}}</h1>
                    <footer class="d-flex blogFooter align-items-center justify-content-between">
                        <span class="d-flex align-items-center">
                            <div class="avatar"><img src="{{Blog.editorImage.url}}" class="img-fluid"></div>
                            <div class="blogEditor">{{ Blog.editor }}</div>
                        </span>
                        <span>
                            <div class="blogDate postBlogDate">{{ Blog.properDate }}</div>
                        </span>
                    </footer>
                    <div class="post-body">
                        {{ Blog.blogBody | safe}}
                    </div>
                    <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row blogpost probootstrap-animate">
                        {% if Blog.get_previous_by_date %}
                        <a href="{% url 'Post' Blog.get_previous_by_date.pk %}" class="prev-post text-left d-flex align-items-center">
                            <div class="icon prev ">
                                <img src="{% static 'img/left-arrow.png' %}" alt="" style="width:12px;height:auto">
                            </div>
                            <div class="text">
                                <strong class="text-primary">Previous Post </strong>
                                <h6>{{Blog.get_previous_by_date.header}}</h6>
                            </div>
                        </a>
                        {% endif %}
                        {% if Blog.get_next_by_date %}
                        <a href="{% url 'Post' Blog.get_next_by_date.pk %}" class="next-post text-right d-flex align-items-center justify-content-end">
                            <div class="text"><strong class="text-primary">Next Post </strong>
                                <h6>{{Blog.get_next_by_date.header}}</h6>
                            </div>
                            <div class="icon next">
                                <img src="{% static 'img/right-arrow.png' %}" alt="" style="width:12px;height:auto">
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget latest-posts">
                    <header>
                        <h3 class="blogTitle" style="font-size:16px">Latest Posts</h3>
                    </header>
                    {% for Blog in posts|slice:":3" %}
                    <div class="blog-posts">
                        <a href="{% url 'Post' Blog.id %}">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="{{Blog.image.url}}" alt="..." class="img-fluid"></div>
                                <div class="title"><strong>{{Blog.header}}</strong>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}