{% extends 'base.html' %}

{% block links %}

{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">Our Clients</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>
<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-md-12 client-background">
                <div class="client-list">
                    <h3> 01. Client</h3>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 client-background probootstrap-animate">
                <div class="client-list">
                    <h3> 02. Client</h3>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                    <ul>
                        <li>client name</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}