{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        {% for clientSlider in clientSlider.all %}
        <li style="background-image: url({{clientSlider.image.url}})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">{{clientSlider.text}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        {% for clientCategory in clientCategory.all %}
        <div class="row probootstrap-animate">
            <div class="col-md-12 client-background">
                <div class="client-list">
                    <h3> {{ clientCategory.category }}</h3>
                    {% for Client in clientCategory.Clients.all%}
                    <ul style = "margin-bottom: 10px">
                        <li>{{ Client.client }}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}