{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">Testimonials</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-md-12">
                <div class="testimonial">
                    <h3>Header Text</h3>
                    <p>ambled it to make a type specimen book. It has survived not only five centuries, but als</p>
                </div>
            </div>
        </div>
        <div class="row probootstrap-animate">
            <div class="col-md-12">
                <div class="testimonial">
                    <h3>Header Text</h3>
                    <p>ambled it to make a type specimen book. It has survived not only five centuries, but als</p>
                </div>
            </div>
        </div>
        <div class="row probootstrap-animate">
            <div class="col-md-12">
                <div class="testimonial">
                    <h3>Header Text</h3>
                    <p>ambled it to make a type specimen book. It has survived not only five centuries, but als</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}