{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

{% endblock %}

{% block content%}
<section class="flexslider">
    <ul class="slides">
        {% for Slider in Slider.all %}
        <li style="background-image: url({{Slider.image.url}})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">{{Slider.text}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% if message %}

    <div class="container probootstrap-bg-white">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
            <h1>{{message}}</h1>
            </div>
        </div>
    </div>

{% endif %}
<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 probootstrap-animate">
                <form action="#" method="post" class="probootstrap-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        {{ form.contact_name }}
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{ form.contact_email }}
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject:</label>
                        {{ form.subject }}
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Submit Form">
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-md-push-1 probootstrap-animate">

                {% for Contact in Contact.all %}
                <h4>{{ Contact.city }}</h4>
                <ul class="probootstrap-contact-info">
                    <li><i class="icon-pin"></i> <span>{{Contact.location}}</span></li>
                    <li><i class="icon-email"></i><span>{{Contact.email}}</span></li>
                    <li><i class="icon-phone"></i><span>{{Contact.number}}</span></li>
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row">
            {% for whyChooseUs in whyChooseUs.all %}
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="{{ whyChooseUs.iconImage.url }}" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>{{ whyChooseUs.subHeader }}</h3>
                        <p>{{ whyChooseUs.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- END row -->
    </div>
</section>
{% endblock%}

{% block scripts %}

{% endblock %}