{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

{% endblock %}

{% block content %}
{% for Service in Service.all %}
{% if Service.id == product_id %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url({{Service.sliderImage.url}})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">
                                {{ Service.category }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>
{% endif %}
{% endfor %}



<section class="probootstrap-section probootstrap-bg-white" style="padding:40px">
    <div class="container">
        <div class="row mb20">
            <div class="col-md-10 col-md-offset-1 probootstrap-animate">
                <h2>{{Product.title}}</h2>
                <p>{{Product.productDescription | safe}}</p>

            </div>
        </div>
        <!-- END row -->

        <div class="row mb30">
            <div class="col-md-6" style = "margin-bottom: 20px">
                {% if Product.image1 %}
                <img src="{{ Product.image1.url }}" class="img-responsive">
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if Product.image2 %}
                <img src="{{ Product.image2.url }}" class="img-responsive">
                {% endif %}
            </div>
        </div>
        <div class="zoom">
            <p class="text-center">
                <a href="{% url 'serviceProductDescription' product_id product_id %}" class="btn btn-primary" style="font-size : 20px">Read
                    More</a>
            </p>
        </div>
        {% for Service in Service.all %}
        {% if Service.id == product_id %}
        {% for Product in Service.Product.all %}
        <div class="row mb20">
            <div class="col-md-10 col-md-offset-1 probootstrap-animate">
                <h2>{{Product.title}}</h2>
                <p>{{Product.description | safe}}</p>

            </div>
        </div>
        <!-- END row -->

        <div class="row mb30">
            <div class="col-md-6" style = "margin-bottom: 20px">
                {% if Product.image1 %}
                <img src="{{ Product.image1.url }}" class="img-responsive">
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if Product.image2 %}
                <img src="{{ Product.image2.url }}" class="img-responsive">
                {% endif %}
            </div>
        </div>
        <div class="zoom">
            <p class="text-center">
                <a href="{% url 'productDescription' Service.id Product.id %}" class="btn btn-primary" style="font-size : 20px">Read
                    More</a>
            </p>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</section>






<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row">
            {% for whyChooseUs in whyChooseUs.all %}
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="{{ whyChooseUs.iconImage.url }}" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>{{ whyChooseUs.subHeader }}</h3>
                        <p>{{ whyChooseUs.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- END row -->
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}