{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

{% endblock %}

{% block content %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg)" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">General Product</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white" style="padding:40px">
    <div class="container">
        <div class="row mb40">
            <div class="col-md-10 col-md-offset-1 probootstrap-animate">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus molestias tempora voluptate eveniet
                    omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia a, quia
                    illo
                    accusamus, excepturi nam cumque et cupiditate ratione tempore? Expedita in possimus odit illo vitae
                    ea
                    fugit sapiente totam! Id labore ipsum molestias sunt ex. Voluptates deleniti delectus nulla esse
                    similique.</p>
                <p><a href="product-description.html" class="btn btn-primary">Read More</a></p>
            </div>
        </div>
        <!-- END row -->

        <div class="row mb40">
            <div class="col-md-6">
                <img src="img/gal_img_full_4.jpg" class="img-responsive">
                <p style="margin-top:35px" class="probootstrap-animate">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Minus molestias tempora voluptate eveniet omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia a, quia
                    illo
                    accusamus, excepturi nam cumque et cupiditate ratione tempore? Expedita in possimus odit illo vitae
                    ea
                    fugit sapiente totam! Id labore ipsum molestias sunt ex. Voluptates deleniti delectus nulla esse
                    similique.</p>
            </div>
            <div class="col-md-6">
                <img src="img/gal_img_full_2.jpg" class="img-responsive">
                <p style="margin-top:35px" class="probootstrap-animate">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Minus molestias tempora voluptate eveniet omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia.</p>
            </div>
        </div>



    </div>
</section>

<section class="probootstrap-section probootstrap-bg-white" style="padding:40px">
    <div class="container">
        <div class="row mb40">
            <div class="col-md-10 col-md-offset-1 probootstrap-animate">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus molestias tempora voluptate eveniet
                    omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia a, quia
                    illo
                    accusamus, excepturi nam cumque et cupiditate ratione tempore? Expedita in possimus odit illo vitae
                    ea
                    fugit sapiente totam! Id labore ipsum molestias sunt ex. Voluptates deleniti delectus nulla esse
                    similique.</p>
                <p><a href="product-description.html" class="btn btn-primary">Read More</a></p>
            </div>
        </div>
        <!-- END row -->

        <div class="row mb40">
            <div class="col-md-6">
                <img src="img/gal_img_full_4.jpg" class="img-responsive">
                <p style="margin-top:35px" class="probootstrap-animate">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Minus molestias tempora voluptate eveniet omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia a, quia
                    illo
                    accusamus, excepturi nam cumque et cupiditate ratione tempore? Expedita in possimus odit illo vitae
                    ea
                    fugit sapiente totam! Id labore ipsum molestias sunt ex. Voluptates deleniti delectus nulla esse
                    similique.</p>
            </div>
            <div class="col-md-6">
                <img src="img/gal_img_full_2.jpg" class="img-responsive">
                <p style="margin-top:35px" class="probootstrap-animate">Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Minus molestias tempora voluptate eveniet omnis
                    nisi eos, eum nulla ea ad! Rem quo esse facere, vel dolorem recusandae, deserunt officia.</p>
            </div>
        </div>



    </div>
</section>




<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                    natus
                    quos quibusdam soluta at.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END row -->
    </div>
</section>
{% endblock %}

{% block scripts %}
{% endblock %}