{% extends 'base.html' %}
{% load staticfiles %}

{% block links %}


{% endblock %}

{% block content %}


<section class="flexslider">
    <ul class="slides">
        {% for Slider in Slider.all %}
        <li style="background-image: url({{ Slider.image.url }})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">{{ Slider.text }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>What We Offer</h2>
            </div>
        </div>
        <!-- END row -->
        <div class="row" style="
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;">
            {% for Service in Service.all %}
            <div class="col-md-6" style='
            display: flex;
            flex-direction: column;'>
                <a href="{% url 'Product' Service.id %}" class="productLink">
                    <div class="zoom">
                        <div class="probootstrap-service-2 probootstrap-animate">
                            <div class="image">
                                <div class="image-bg">
                                    <img src="{{ Service.image.url }}" alt="">
                                </div>
                            </div>
                            <div class="text">
                                <h3>{{ Service.category }}</h3>
                                <p>{{ Service.description }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            <!-- END ROW -->
        </div>
    </div>
</section>



<section class="probootstrap-section">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
            </div>
        </div>
        <div class="row" >
            {% for whyChooseUs in whyChooseUs.all %}
            <div class="col-md-6" >
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="{{ whyChooseUs.iconImage.url }}" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>{{ whyChooseUs.subHeader }}</h3>
                        <p>{{ whyChooseUs.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- END row -->
    </div>
</section>
{% endblock %}

{% block scripts %}

{% endblock %}