{% extends 'base.html' %}
{% load staticfiles %}
{% block links %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<script src="{% static 'js/jqueryscript.js' %}"></script>
{% endblock %}

{% block content %}
{% for Service in Service.all %}
{% if Service.id == product_id %}
<section class="flexslider">
    <ul class="slides">
        <li style="background-image: url({{Service.sliderImage.url}})" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="probootstrap-slider-text text-center">
                            <h1 class="probootstrap-heading">
                                {{ Service.category }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
{% endif %}
{% endfor %}
<section class="probootstrap-section probootstrap-bg-white ">
    <div class="container">
        <div class="row probootstrap-animate">
            <div class="col-lg-8">

                <img src="{{ Product.detailImage.url }}" alt="" class="img-fluid thumbnailImage">
                <div class="post-details" style="margin-top:20px">
                    <h1 class="blogTitle" style="font-size:40px">{{ Product.title }}</h1>
                    <div class="post-body">
                        {{ Product.detail | safe}}
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="categories probootstrap-animate">
                    <header>
                        <h3 class="blogTitle" style="font-size:20px; padding-bottom:8px">Categories</h3>
                    </header>
                    <div class="blog-posts">
                        <ul class="category-list">
                            {% for Service in Service.all %}
                            <li>
                                <a href="{% url 'Product' Service.id %}">
                                    <div class="item d-flex align-items-center">
                                        <div class="title"><strong>{{ Service.category }}</strong>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
                <h2>Why Choose Us</h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui
                    tempore natus quos quibusdam soluta at.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/library.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Consectetur Adipisicing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="service left-icon probootstrap-animate">
                    <div class="icon"><img src="img/presentation.png" style="width:50px; height:auto" alt=""></div>
                    <div class="text">
                        <h3>Laboriosam Quod Dignissimos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore
                            natus quos quibusdam soluta at.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- END row -->
    </div>
</section>
{% endblock %}

{% block scripts %}

<script src="{% static 'js/blog.js' %}"></script>
{% endblock %}